---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/reviews.json?api-key=iKpqHY75q3291dfqsBnZA18cGqpi2IYN&title=normal%20people
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2020 The New York Times Company.  All
        Rights Reserved.","num_results":2,"results":[{"url":"https:\/\/www.nytimes.com\/2019\/04\/08\/books\/review-normal-people-sally-rooney.html","publication_dt":"2019-04-08","byline":"DWIGHT
        GARNER","book_title":"Normal People","book_author":"Sally Rooney","summary":"Rooney\u2019s
        second novel tracks two gifted but troubled teenagers across four years of
        friendship and occasional romance.","uuid":"00000000-0000-0000-0000-000000000000","uri":"nyt:\/\/book\/00000000-0000-0000-0000-000000000000","isbn13":["9781984822178"]},{"url":"https:\/\/www.nytimes.com\/2019\/04\/15\/books\/review\/normal-people-sally-rooney.html","publication_dt":"2019-04-15","byline":"ANDREW
        MARTIN","book_title":"Normal People","book_author":"Sally Rooney","summary":"Like
        \u201cConversations With Friends,\u201d \u201cNormal People\u201d also traces
        a young romance in Ireland.","uuid":"00000000-0000-0000-0000-000000000000","uri":"nyt:\/\/book\/00000000-0000-0000-0000-000000000000","isbn13":["9780735276475"]}]}'
  recorded_at: Fri, 21 Feb 2020 18:12:39 GMT
recorded_with: VCR 5.1.0
